In [1]:
import numpy as np
import pandas as pd

In [32]:
abbv_df = pd.read_csv('term_abb.csv')
abbv_df.head()

                   terms abbreviations
0             Auroracoin           AUR
1  BitConnect (inactive)           BCC
2           Bitcoin Cash           BCH
3                Bitcoin      BTCorXBT
4                   Dash          DASH

In [13]:
def_df = pd.read_csv('term_def.csv')
def_df.head()

,terms,definition1,definition2
0,51% attack,A hypothetical situation where more than half ...,NaN
1,51% attack protection,A protection mechanism implemented by several ...,NaN
2,AFK,Away From Keyboard; used on social media platf...,NaN
3,Airdrop,An event where a blockchain project distribute...,NaN
4,Altcoin,Any cryptocurrency that is an alternative to B...,NaN

In [17]:
def_df.drop('definition2', axis=1, inplace = True)

In [24]:
sentences = [' means '.join([def_df['terms'][i], def_df['definition1'][i]]) for i in range(len(def_df))]

In [33]:
sentences += [' '.join([abbv_df['terms'][i], abbv_df['abbreviations'][i]]) for i in range(len(abbv_df))]

In [28]:
import re
import nltk.data
from nltk.corpus import stopwords
nltk.download()   

tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')

def words_preprocess(sentence):
    
    sentence_word = re.sub("[^a-zA-Z]"," ", sentence)
    words = sentence_word.lower().split()
    
    stops = set(stopwords.words("english"))
    words = [w for w in words if not w in stops]
    
    return words

def sentence_preprocess(statements, tokenizer):
    
    raw_sentences = tokenizer.tokenize(statements.strip())
    sentences = []
    
    for raw_sentence in raw_sentences:
        
        if len(raw_sentence)>0:
            sentences.append(words_preprocess(raw_sentence))
            
    return sentences

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [36]:
sentences_cleaned = []
for s in sentences:
    sentences_cleaned += sentence_preprocess(s, tokenizer)